<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="micro.ioc" type ="MicroIOC.Configuration.ConfigurationSectionHandler, MicroIOC"/>
	</configSections>

	<micro.ioc>
		<components>
			<component id="blue" contract="MicroIOC.Tests.ILogger, MicroIOC.Tests" service="MicroIOC.Tests.Logger, MicroIOC.Tests">
				<parameters>
					<parameter name="LogFileLocation" value="c:\temp" />
				</parameters>
			</component>
		</components> 
	</micro.ioc>
</configuration>